{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </div>
    {% endfor %}
{% endblock %}
{% block extra %}
      <figure class="images">
        <img src={% static 'images/duck.JPG' %} alt="Yellow duck" width="500" style="margin: 5px; padding: 5px">

        <img src={% static 'images/backpack.JPG' %} alt="backpack" width="500" style="margin: 5px; padding: 5px">

      <img src={% static 'images/poster.JPG' %} alt="poster" width="500" style="margin: 5px; padding: 5px">

    </figure>
{% endblock %}
